@use '../abstracts' as *;

// 아이콘 mixin 정의

.ico-more{
    @include icon(8px);
    background-image: url('@/assets/images/icon/Link-arrow.png');
}
.ico-refresh{
    @include icon(14px);
    background-image: url('@/assets/images/icon/refresh-ico.png');
}
.ico-calendar{
    @include icon(20px);
    background-image: url('@/assets/images/icon/calrendar-ico.png');
}