@use '../abstracts' as *;

// ====== side nav ======
.side-nav_wrap{
    position: sticky;
    top: 20px;
}
.side-nav {
    align-self: start;
    height: calc(100vh - #{$header-h} - 60px);
    padding: 12px;
    background-color: #253b53;
    border-radius: 10px;
    background-image: url('@/assets/images/common/nav/bg.png');
    background-position: 0 bottom;
    background-repeat: no-repeat;
}
.side-nav__inner {
    height: 100%;
    overflow: auto;
    padding: 10px;
}

.side-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 8px;
}

.side-nav__item {
    &.has-children {
        .side-nav__toggle {
            display: flex;
            align-items: center;
            width: 100%;
            cursor: pointer;
            background: transparent;
        }
    }
}

.side-nav__arrow {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-right: 2px solid rgba(255, 255, 255, .8);
    border-bottom: 2px solid rgba(255, 255, 255, .8);
    transform: rotate(45deg);
    transition: transform .25s ease;
}

.side-nav__sub {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-4px);
    transition:
        max-height .25s ease,
        opacity .2s ease,
        transform .2s ease;

    padding-left: 12px;
}

.side-nav__item.is-open {
    .side-nav__sub {
        max-height: 300px; // 충분히 큰 값
        opacity: 1;
        transform: translateY(0);
    }

    .side-nav__arrow {
        transform: rotate(-135deg); // ▼
    }
}

.side-nav__sub-item a {
    display: block;
    padding: 10px 12px;
    font-size: 13px;
    border-radius: 8px;
    color: rgba(255, 255, 255, .85);
    text-decoration: none;

    &:hover {
        background: rgba(255, 255, 255, .12);
    }
}

.side-nav__link {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 12px;
    border-radius: 12px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    font-size: 14px;
    &:hover {
        background: rgba(255, 255, 255, 0.12);
    }
    .icon{
        @include icon(20px);
        @for $i from 1 through 7 {
            &.sni0#{$i} {
                background-image: url('@/assets/images/common/nav/side-nav-ico0#{$i}.png');
            }
        }
        
    }
}

@media (max-width: 900px) {
    .side-nav_wrap {
        position: relative;
        top: auto;
        height: auto;
    }
}