
// Modal 공통
.modal {
    display: none; // 기본 숨김
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    &.active {
        display: flex;
    }
    .modal-dialog {
        background: #ecf0f2; // gray-100
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        min-width: 300px;
        max-width: 90%;
        max-height: 90%;
        overflow: hidden;
        .modal-header {
            background: #047bb6; // 파란 헤더
            color: #fff;
            padding: 15px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 19px;
            font-weight: 300;
            span{
                color: #fff;
            }
            button {
                background-color: transparent;
                border: none;
                cursor: pointer;
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                background-image: url("@/assets/images/modal/modal-close.png");
            }
        }
        .modal-content {
            padding: 20px;
            min-height: 150px;
        }
    }
}
