/* ========== Tab - 공통  ========== */
.tab--btn__nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    border: 1px solid #d8d8d8;    
    border-radius: 5px;
    .tab--item {
        flex: 1;
        padding: 10px;
        border: none;
        background: #f5f5f5;
        font-size: 17px;
        cursor: pointer;
        border-left: 1px solid #d8d8d8;
        font-weight: 500;
        &:first-child{
            border-radius:5px 0 0 5px;
            border-left: none;
        }
        &:last-child{
            border-radius:0 5px 5px 0;
        }
        &.active {
            background: #047bb6;
            color: #fff;
            border-left: none;
        }
    }
}
